In [3]:
import os

%load_ext sql
%config SqlMagic.autocommit=False

In [5]:
%sql postgresql://kd2810:4054@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

'Connected: kd2810@proj1part2'

In [18]:
%%sql
DROP TABLE IF EXISTS event;
create table event (
    eid text primary key,
    homeTeam text,
    awayTeam text,
    endDate timestamp,
    ts timestamp,
    totalPrice float,
    total int,
    spreadPrice float,
    spreadHT float,
    spreadAT float,
    mlHTPrice float,
    mlATPrice float
);

 * postgresql://kd2810:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
Done.

[]

In [21]:

%%sql
SELECT *
FROM event

 * postgresql://kd2810:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
8 rows affected.

[('8c74bc0adb5686f680448c8e502feb77', 'Auburn Tigers', 'Miami Hurricanes', datetime.datetime(2022, 3, 21, 0, 9, 40), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 145, 53.5, 2.5, -2.5, 44.4, 62.1),
 ('09ef48bc375a44591895f70cfb3bfb89', 'Purdue Boilermakers', 'Texas Longhorns', datetime.datetime(2022, 3, 21, 1, 7, 1), datetime.datetime(2022, 3, 21, 1, 27, 29), 53.5, 135, 52.4, -3.5, 3.5, 63.7, 42.6),
 ('1849b460e9c100bde647113e9add689e', 'Arizona Wildcats', 'TCU Horned Frogs', datetime.datetime(2022, 3, 21, 1, 54), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 146, 52.4, -10.0, 10.0, 84.0, 20.6),
 ('05b0c5500e87feae25d31c67595adb9b', 'Gonzaga Bulldogs', 'Arkansas Razorbacks', datetime.datetime(2022, 3, 25, 2, 0), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 155, 52.4, 8.5, -8.5, 25.0, 80.0),
 ('55b6fb57e5eed466ef4bfa9e45f9bcb1', 'Duke Blue Devils', 'Texas Tech Red Raiders', datetime.datetime(2022, 3, 25, 2, 0), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 137, 52.4, 1.0, -1.0, 51.3, 53.5),
 ('fe01e717bdbcd295a3cbdd4f279a771a', 'Villanova Wildcats', 'Michigan Wolverines', datetime.datetime(2022, 3, 25, 2, 0), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 136, 52.4, 4.5, -4.5, 36.4, 67.6),
 ('dffe350d38177bd36b537ae97162b8a5', 'Kansas Jayhawks', 'Providence Friars', datetime.datetime(2022, 3, 26, 2, 0), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 142, 52.4, -7.5, 7.5, 78.7, 26.3),
 ('12d3a3d23d21a98b908ec77a3e7ec7d3', 'UCLA Bruins', 'North Carolina Tar Heels', datetime.datetime(2022, 3, 26, 2, 0), datetime.datetime(2022, 3, 21, 1, 27, 29), 52.4, 143, 52.4, 2.0, -2.0, 46.5, 57.5)]

In [20]:
%%sql
INSERT INTO event (eid, hometeam, awayteam, enddate, ts, totalprice, total, spreadprice, spreadht, spreadat, mlhtprice, mlatprice)
VALUES
    ('8c74bc0adb5686f680448c8e502feb77','Auburn Tigers','Miami Hurricanes',TO_TIMESTAMP(1647821380), TO_TIMESTAMP(1647826049),52.4,144.5,53.5,2.5,-2.5,44.4,62.1),
    ('09ef48bc375a44591895f70cfb3bfb89','Purdue Boilermakers','Texas Longhorns',TO_TIMESTAMP(1647824821), TO_TIMESTAMP(1647826049),53.5,134.5,52.4,-3.5,3.5,63.7,42.6),
    ('1849b460e9c100bde647113e9add689e','Arizona Wildcats','TCU Horned Frogs',TO_TIMESTAMP(1647827640), TO_TIMESTAMP(1647826049),52.4,145.5,52.4,-10.0,10.0,84.0,20.6),
    ('05b0c5500e87feae25d31c67595adb9b','Gonzaga Bulldogs','Arkansas Razorbacks',TO_TIMESTAMP(1648173600), TO_TIMESTAMP(1647826049),52.4,154.5,52.4,8.5,-8.5,25.0,80.0),
    ('55b6fb57e5eed466ef4bfa9e45f9bcb1','Duke Blue Devils','Texas Tech Red Raiders',TO_TIMESTAMP(1648173600), TO_TIMESTAMP(1647826049),52.4,137.0,52.4,1.0,-1.0,51.3,53.5),
    ('fe01e717bdbcd295a3cbdd4f279a771a','Villanova Wildcats','Michigan Wolverines',TO_TIMESTAMP(1648173600), TO_TIMESTAMP(1647826049),52.4,135.5,52.4,4.5,-4.5,36.4,67.6),
    ('dffe350d38177bd36b537ae97162b8a5','Kansas Jayhawks','Providence Friars',TO_TIMESTAMP(1648260000), TO_TIMESTAMP(1647826049),52.4,141.5,52.4,-7.5,7.5,78.7,26.3),
    ('12d3a3d23d21a98b908ec77a3e7ec7d3','UCLA Bruins','North Carolina Tar Heels',TO_TIMESTAMP(1648260000), TO_TIMESTAMP(1647826049),52.4,142.5,52.4,2.0,-2.0,46.5,57.5)

 * postgresql://kd2810:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
8 rows affected.

[]

In [17]:
%%sql
COPY eventPrices(eid, hometeam, awayteam, enddate, ts, totalprice, total, spreadprice, spreadht, spreadat, mlhtprice, mlatprice)
FROM 'C:\\Users\\kpdav\\machine_learning\\projects\\sportradedata\\data\\eventPrices.csv'
DELIMITER ',';

 * postgresql://kd2810:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
(psycopg2.errors.InsufficientPrivilege) must be superuser to COPY to or from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.

[SQL: COPY eventPrices(eid, hometeam, awayteam, enddate, ts, totalprice, total, spreadprice, spreadht, spreadat, mlhtprice, mlatprice)
FROM 'C:\\Users\\kpdav\\machine_learning\\projects\\sportradedata\\data\\eventPrices.csv'
DELIMITER ',';]
(Background on this error at: https://sqlalche.me/e/14/f405)